
a:link, a:hover, a:visited, a:active{
	text-decoration: none;
	color: inherit;
}


.header-section{
	padding-left: 8em;
	padding-right: 8em;
}

.menu-button{
	text-align: left;
	line-height: 7.8em;
	
	font-family:  Arial , sans-serif; 
	font-size: 1em; 
	color: #5D5D5D;
}
.menu-button:hover{
	transition: color 0.3s ease;
	color: #89CFD4;
	text-decoration: none;
}
#myNameInTitle{
	text-align: left;
	position: relative;
	font-family: Gadget, Arial Black, sans-serif; 
	font-style: bold; 
	font-size: 2.5em; 
	color: #5D5D5D;
}

#belowMyNameInTitle{
	
	
	line-height: 0.5em;
	text-align: left;
	font-family: Arial, sans-serif; 
	font-style: italic; 
	font-size: 0.5em; 
	color: #5D5D5D; 
	
	
}

.mobile-menu-bar{
	background-color: rgb(202,53,83);
	line-height: 3em;
}

.mobile-menu-name-text{
	font-family: Gadget, Arial Black, sans-serif;
	font-size: 2em;
	color: rgb(232,228,228);
}

.mobile-menu-button{
	line-height: 1em;
	font-size: 1.75em;
	color: rgb(232,228,228);
}

.mobile-menu-dropdown{
	background-color: rgb(202,53,83);
}

.mobile-menu-dropdown-text{
	font-family: Arial, sans-serif;
	color: rgb(232,228,228);
	font-size: 1.2em;
}

.desktop-body-resume-text{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
	color: #5D5D5D;
	font-size: 3.4em;
}

#body-resume-download{
	font-weight: 400;
	font-style: italic;
	font-size: 0.3em;

}
.section-separator{
	border-top-color: #5D5D5D;
}

.full-circle-1 {
 background-color: rgb(202,53,83);
 height: 10em;
 -moz-border-radius:5em;
 -webkit-border-radius: 5em;
 width: 10em;
 margin: 1em;
 
}
/*.full-circle-1:hover {
	transition: background-color 0.3s ease;
	background-color: rgb(202,53,83);
}*/
.full-circle-2 {
 background-color: rgb(107,217,222);
 height: 7em;
 -moz-border-radius:3.5em;
 -webkit-border-radius: 3.5em;
 width: 7em;
 margin: 1em;
 
}


.text-inside-circle-1{
	line-height: 10em;
	text-align: center;
	font-family: Gadget, Arial Black, sans-serif;
	font-size: 1em;
	color: rgb(255,255,255);
}

.text-inside-circle-2{
	line-height: 8em;
	text-align: center;
	font-family: Gadget, Arial Black, sans-serif;
	font-size: 0.9em;
	color: rgb(255,255,255);
}


.menudiv{
	background-color: #A6A6A1;
	
    position: relative;
    
}

.menudiv:hover{
	background-color: #A6A6A1;
	
    position: relative;
   
}

.resume-text-header{
	font-family:  Arial , sans-serif; 
	font-size: 1.25em; 
	color: #5D5D5D;
	font-weight: 700;
}
.resume-text-date{
	padding-left: 2em;
	font-family:  Arial , sans-serif; 
	font-size: 1.05em; 
	color: #5D5D5D;
	font-weight: 500;
	font-style: italic;
}
.resume-text-description{
	font-family:  Arial , sans-serif; 
	font-size: 1em; 
	color: #5D5D5D;
	font-weight: 400;
}

.resume-text-summary{
	font-family:  Arial , sans-serif; 
	font-size: 1.2em; 
	color: #5D5D5D;
	font-weight: 500;
	/*line-height: 2em;*/
}

.footer-class{
	background-color: rgb(202, 53, 83);
	min-height: 10em;
}

#phone-icon{
	line-height: 2em;
	font-size: 2em;
	text-align: center;
	color: rgb(234,229,229);
}
#mail-icon{
	line-height: 2em;
	font-size: 2em;
	text-align: center;
	color: rgb(234,229,229);
}
#follow-icon{
	line-height: 2em;
	font-size: 2em;
	text-align: center;
	color: rgb(234,229,229);
}
.footer-text{
	font-size: 1em;
	text-align: center;
	color: rgb(232,228,228);
}
#footer-alternate-mail{
	line-height: 0em;
	color: rgb(234,229,229);
}
#footer-primary-mail{
	/*margin-top: -1em;;*/
	color: rgb(234,229,229);
}
#footer-primary{
	/*margin-top: -1em;*/
}
#footer-googlevoice{
	line-height: 0em;
	/*margin-top: -3.5em;*/
}
#footer-linkedin{
	/*margin-top: -1em;*/
}
#footer-twitter{
	/*margin-top: -3.5em;*/
}
#footer-facebook{
	/*margin-top: -3.5em;*/
}