
a:link, a:hover, a:visited, a:active{
	text-decoration: none;
	color: inherit;
}


.header-section{
	padding-left: 8em;
	padding-right: 8em;
}

.menu-button{
	text-align: left;
	line-height: 7.8em;
	
	font-family:  Arial , sans-serif; 
	font-size: 1em; 
	color: #5D5D5D;
}
.menu-button:hover{
	transition: color 0.3s ease;
	color: #89CFD4;
	text-decoration: none;
}
#myNameInTitle{
	text-align: left;
	position: relative;
	font-family: Gadget, Arial Black, sans-serif; 
	font-style: bold; 
	font-size: 2.5em; 
	color: #5D5D5D;
}

#belowMyNameInTitle{
	
	
	line-height: 0.5em;
	text-align: left;
	font-family: Arial, sans-serif; 
	font-style: italic; 
	font-size: 0.5em; 
	color: #5D5D5D; 
	
	
}

.mobile-menu-bar{
	background-color: rgb(202,53,83);
	line-height: 3em;
}

.mobile-menu-name-text{
	font-family: Gadget, Arial Black, sans-serif;
	font-size: 2em;
	color: rgb(232,228,228);
}

.mobile-menu-button{
	line-height: 1em;
	font-size: 1.75em;
	color: rgb(232,228,228);
}

.mobile-menu-dropdown{
	background-color: rgb(202,53,83);
}

.mobile-menu-dropdown-text{
	font-family: Arial, sans-serif;
	color: rgb(232,228,228);
	font-size: 1.2em;
}

.desktop-body-hi-text{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
	color: #5D5D5D;
	font-size: 3.4em;
}

.full-circle-1 {
 background-color: rgb(230,33,63);
 height: 9em;
 -moz-border-radius:4.5em;
 -webkit-border-radius: 4.5em;
 width: 9em;
 margin: 1em;
 margin-left: 3em;
 
}
.full-circle-1:hover {
	transition: background-color 0.3s ease;
	background-color: rgb(202,53,83);
}
.full-circle-2 {
 background-color: rgb(107,217,222);
 height: 9em;
 -moz-border-radius:4.5em;
 -webkit-border-radius: 4.5em;
 width: 9em;
 margin: 1em;
 margin-left: 1em;
 
}
.full-circle-2:hover {
	transition: background-color 0.3s ease;
	background-color: rgb(137,207,212);
}
.full-circle-3 {
 background-color: rgb(226,221,26);
height: 9em;
 -moz-border-radius:4.5em;
 -webkit-border-radius: 4.5em;
 width: 9em;
 margin: 1em;
 margin-left: 1em;

}
.full-circle-3:hover {
	transition: background-color 0.3s ease;
	background-color: rgb(206,201,46);
}

.text-inside-circle{
	line-height: 9em;
	text-align: center;
	font-family: Gadget, Arial Black, sans-serif;
	font-size: 1em;
	color: rgb(255,255,255);
}


.circle-image{
	margin-top: 2.5em;
	position: center;
	background-image: url('../src/my_img.png');
	background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
	width: 22em;
 	height: 22em;
 	-moz-border-radius:11em;
 	-webkit-border-radius: 11em;
 	width: 22em;
}


.menudiv{
	background-color: #A6A6A1;
	
    position: relative;
    
}

.menudiv:hover{
	background-color: #A6A6A1;
	
    position: relative;
   
}
#body-container{
	
}

.home-text-summary{
	font-family:  Arial , sans-serif; 
	font-size: 1.2em; 
	color: #5D5D5D;
	font-weight: 500;
	/*line-height: 2em;*/
}

.footer-class{
	background-color: rgb(202, 53, 83);
	min-height: 10em;
}

@media only screen and (min-width: 996px) and (min-height: 768px) {
	.footer-class{
		position: absolute;
		width: 100%;
		bottom: 0;
	}
}

#phone-icon{
	line-height: 2em;
	font-size: 2em;
	text-align: center;
	color: rgb(234,229,229);
}
#mail-icon{
	line-height: 2em;
	font-size: 2em;
	text-align: center;;
	color: rgb(234,229,229);
}
#follow-icon{
	line-height: 2em;
	font-size: 2em;
	text-align: center;;
	color: rgb(234,229,229);
}
.footer-text{
	font-size: 1em;
	text-align: center;
	color: rgb(232,228,228);
}
#footer-alternate-mail{
	line-height: 0em;
	color: rgb(234,229,229);
}
#footer-primary-mail{
	/*margin-top: -1em;;*/
	color: rgb(234,229,229);
}
#footer-primary{
	/*margin-top: -1em;*/
}
#footer-googlevoice{
	line-height: 0em;
	/*margin-top: -3.5em;*/
}
#footer-linkedin{
	/*margin-top: -1em;*/

}
#footer-twitter{
	/*margin-top: -3.5em;*/
}
#footer-facebook{
	/*margin-top: -3.5em;*/
}








