
a:link, a:hover, a:visited, a:active{
	text-decoration: none;
	color: inherit;
}


.header-section{

}

/*.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}*/

#menu{
	margin-left: -6%;
}

.menu-button{
	text-align: left;
	line-height: 8.5em;
	
	font-family:  Arial , sans-serif; 
	font-size: 1em; 
	color: #5D5D5D;
}
.menu-button:hover{
	transition: color 0.3s ease;
	color: #89CFD4;
	text-decoration: none;
}
#myNameInTitle{
	line-height: 2.2em;
	text-align: center;
	
	position: relative;
	font-family: Gadget, Arial Black, sans-serif; 
	font-style: bold; 
	font-size: 2.5em; 
	color: #5D5D5D;
}

#belowMyNameInTitle{

	text-align: left;
	font-family: Arial, sans-serif; 
	font-style: italic; 
	font-size: 1em; 
	color: #5D5D5D; 
	text-align: center; 
	margin-top: -2.5em;
	margin-left: 0.8em;
	position: absolute;
}

.mobile-menu-bar{
	background-color: rgb(202,53,83);
	line-height: 3em;
}

.mobile-menu-name-text{
	font-family: Gadget, Arial Black, sans-serif;
	font-size: 2em;
	color: rgb(232,228,228);
}

.mobile-menu-button{
	line-height: 1em;
	font-size: 1.75em;
	color: rgb(232,228,228);
}

.mobile-menu-dropdown{
	background-color: rgb(202,53,83);
}

.mobile-menu-dropdown-text{
	font-family: Arial, sans-serif;
	color: rgb(232,228,228);
	font-size: 1.2em;
}

.desktop-body-resume-text{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
	color: #5D5D5D;
	font-size: 3.4em;
}

.section-separator{
	border-top-color: #5D5D5D;
}

.full-circle-1 {
 background-color: rgb(202,53,83);
 height: 10em;
 -moz-border-radius:5em;
 -webkit-border-radius: 5em;
 width: 10em;
 margin: 1em;
 
}
/*.full-circle-1:hover {
	transition: background-color 0.3s ease;
	background-color: rgb(202,53,83);
}*/
.full-circle-2 {
 background-color: rgb(107,217,222);
 height: 7em;
 -moz-border-radius:3.5em;
 -webkit-border-radius: 3.5em;
 width: 7em;
 margin: 1em;
 
}
/*.full-circle-2:hover {
	transition: background-color 0.3s ease;
	background-color: rgb(137,207,212);
}*/
.full-circle-3 {
 background-color: rgb(226,221,26);
height: 10em;
 -moz-border-radius:5em;
 -webkit-border-radius: 5em;
 width: 10em;
 margin: 1em;

}
.full-circle-3:hover {
	transition: background-color 0.3s ease;
	background-color: rgb(206,201,46);
}

.text-inside-circle-1{
	line-height: 10em;
	text-align: center;
	font-family: Gadget, Arial Black, sans-serif;
	font-size: 1em;
	color: rgb(255,255,255);
}

.text-inside-circle-2{
	line-height: 8em;
	text-align: center;
	font-family: Gadget, Arial Black, sans-serif;
	font-size: 0.9em;
	color: rgb(255,255,255);
}


.circle-image{
	position: center;
	background-image: url('../src/my_img.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
	width: 26em;
 	height: 26em;
 	-moz-border-radius:13em;
 	-webkit-border-radius: 13em;
 	width: 26em;
}

#hi-text{
	text-align: center;
	position: relative;
	font-family: Helvetica, Arial, sans-serif; 
	font-style: bold; 
	font-size: 300%; 
	color: #5D5D5D;
}

.menudiv{
	background-color: #A6A6A1;
	
    position: relative;
    
}

.menudiv:hover{
	background-color: #A6A6A1;
	
    position: relative;
   
}

.footer-class{
	background-color: rgb(202, 53, 83);
	min-height: 100px;
}
#phone-icon{
	line-height: 2em;
	font-size: 2em;
	text-align: center;
	color: rgb(234,229,229);
}
#mail-icon{
	line-height: 2em;
	font-size: 2em;
	text-align: center;;
	color: rgb(234,229,229);
}
#follow-icon{
	line-height: 2em;
	font-size: 2em;
	text-align: center;;
	color: rgb(234,229,229);
}
.footer-text{
	font-size: 0.5em;
	text-align: center;
	color: rgb(232,228,228);
}
#alternate-mail{
	margin-top: -3em;;
	color: rgb(234,229,229);
}
#primary-mail{
	margin-top: -1em;;
	color: rgb(234,229,229);
}
